{% extends 'layout.html' %}
{% block title %}Impakt faktory{% endblock %}
{% block content %}
<h1>Impakt faktory</h1>

{% if tab != 'moje' %}
<p>Na záložke "Moje" po prihlásení uvidíte zoznam impakt faktorov relevantných pre Vás</p>
{% endif %}

<ul class="nav nav-tabs">
  <li class="{{ 'active' if tab == 'moje' else '' }}"><a href="{{ url_for('impakt_faktor_moje') }}">Moje</a></li>
  <li class="{{ 'active' if tab == 'fmfi' else '' }}"><a href="{{ url_for('impakt_faktor_fmfi') }}">FMFI</a></li>
  <li class="{{ 'active' if tab == 'vsetky' else '' }}"><a href="{{ url_for('impakt_faktor_vsetky') }}">Všetky</a></li>
</ul>

{% if data %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Journal</th>
      <th>ISSN</th>
      <th>Impakt faktor</th>
      <th>SNIP</th>
    </tr>
  </thead>
  <tbody>
    {% for id, source_title, source_abbr, snip, if, issns in data %}
    <tr>
      <td>{{ source_title or source_abbr }}</td>
      <td>{{ issns|join(', ') }}</td>
      <td>{{ if }}</td>
      <td>{{ snip }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Žiaľ, v našej databáze sme nenašli žiadne relevantné výsledky</p>
{% endif %}
{% endblock %}